:root {
    --blue01: #1e90ff;
    --blue02: #00bfff;
    --blue03: #87ceeb;
    --blue04: #4682b4;
    --blue05: #5f9ea0;
    --blue06: #6495ed;
    --blue07: #4169e1;
    --blue08: #87cefa;
    --blue09: #87ceeb;
    --blue10: #87cefa;

    --green01: #2e8b57;
    --green02: #3cb371;
    --green03: #2e8b57;
    --green04: #32cd32;
    --green05: #228b22;
    --green06: #008000;
    --green07: #006400;
    --green08: #00ff00;
    --green09: #7cfc00;
    --green10: #7fff00;

    --red01: #ff6347;
    --red02: #ff4500;
    --red03: #ff6347;
    --red04: #ff0000;
    --red05: #dc143c;
    --red06: #b22222;
    --red07: #8b0000;
    --red08: #ff69b4;
    --red09: #ff1493;
    --red10: #ff1493;

    --yellow01: #ffd700;
    --yellow02: #ffec8b;
    --yellow03: #ffec8b;
    --yellow04: #ff8c00;
    --yellow05: #ff8c00;
    --yellow06: #ff8c00;
    --yellow07: #ff8c00;
    --yellow08: #ff8c00;
    --yellow09: #ff8c00;
    --yellow10: #ff8c00;
}
